<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dingjz.zip</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0755BC07-DE83-4C9A-93C0-60F3A32060C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0755BC07-DE83-4C9A-93C0-60F3A32060C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dingjz</string>
	<key>description</key>
	<string>zip file or files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>zip</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>16</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>Y</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F06D968-A68C-481E-83C0-7B45F509D2D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>#!/usr/local/python/bin/python3
# coding:utf-8

import os
import zipfile
import sys

file = sys.argv[1]
compression = zipfile.ZIP_DEFLATED
# absPath = os.path.join(os.getcwd(), file)
absPath = os.path.abspath(file)
print(absPath)
modes = {zipfile.ZIP_DEFLATED: 'deflated', zipfile.ZIP_STORED: 'stored'}
# 压缩文件
if os.path.isfile(absPath):
    print("file")
    zf = zipfile.ZipFile(file + '.zip', mode='w')
    try:
        zf.write(file, compress_type=compression)
    finally:
        zf.close()
else:
    # 压缩文件夹
    zf = zipfile.ZipFile(absPath + ".zip", mode="w")
    filelist = []
    for root, dirs, files in os.walk(absPath):
        for name in files:
            filelist.append(os.path.join(root, name))

    for tar in filelist:
        # 取出相对路径
        arcname = tar[len(absPath):]
        zf.write(tar, arcname=arcname, compress_type=compression)
    # zf.write(filelist, compress_type=compression)
    zf.close()</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0755BC07-DE83-4C9A-93C0-60F3A32060C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>压缩成功</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use hotkeys to launch actions by pressing a key combination. You can connect one or more actions to be performed.

Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey.

A hotkey needs to contain a modifier (Cmd, Ctrl or Alt) and a keyboard character at least, but your best bet is to use slightly less common combinations (e.g. two modifiers) to avoid clashing with default OS X hotkeys or other apps on your Mac.</string>
	<key>uidata</key>
	<dict>
		<key>0755BC07-DE83-4C9A-93C0-60F3A32060C2</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>8. The Post Notification Output shows the text you've specified in your Notification Center.</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://dingtwo.github.io</string>
</dict>
</plist>
